.incident-filter-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 150px;
  max-width: 100%;
  padding: 0.5em;
  background-color: rgba(236, 240, 241, 1);
  box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.8);
  transition-duration: 0.195s;
  transition-timing-function: ease-out;
}

.incident-filter-panel.collapsed {
  transform: translateY(calc(100% - 2.5em));
}

.incident-filter-panel .title {
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.incident-filter-panel .title svg {
  margin-left: 1em;
}

.incident-filter-panel-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.25em;
  padding: 0.5em;
  border-bottom: 1px solid slategrey;
}

.incident-filter-panel__control {
  font-size: large;
  color: grey;
}

.incident-filter-panel__control:hover {
  color: black;
}

.incident-filter-panel-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5em;
  margin: 0.25em;
  border-bottom: 1px solid slategrey;
}

.incident-filter-panel-type img {
  width: 20px;
  height: 20px;
}

.incident-filter-panel-type svg {
  opacity: 0.4;
  font-size: large;
}

.incident-filter-panel-type svg:hover {
  opacity: 0.8;
}

.incident-filter-panel-type svg.active {
  opacity: 1;
}
