.incident-filter-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 150px;
  max-width: 100%;
  padding: 0.5em;
  background-color: #ecf0f1;
  box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.8);
  transition-duration: 0.195s;
  transition-timing-function: ease-out;
}

.incident-filter-panel.collapsed {
  transform: translateY(calc(100% - 2.5em));
}

.incident-filter-panel .title {
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.incident-filter-panel .title svg {
  margin-left: 1em;
}

.incident-filter-panel-controls,
.incident-filter-panel-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.incident-filter-panel-controls {
  padding: 0 0.5em;
}

.incident-filter-panel-type img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.incident-filter-panel-controls svg,
.incident-filter-panel-type img,
.incident-filter-panel-type svg {
  padding: 0.5em;
}

.incident-filter-panel-controls svg,
.incident-filter-panel-type svg {
  color: grey;
  font-size: large;
  cursor: pointer;
}

.incident-filter-panel-controls svg:hover,
.incident-filter-panel-type svg:hover {
  color: black;
}

.incident-filter-panel-type svg.active {
  color: black;
}
