.incident-info-window {
  max-width: 150px;
}

.incident-info-window span {
  display: block;
}

.incident-info-window img {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.incident-info-window .location {
  font-weight: bold;
  max-width: 220px;
}

.incident-info-window .category {
  font-size: smaller;
  font-variant: small-caps;
}

.incident-info-window .address {
  margin: 0.5em 0;
}

.incident-info-window .time {
  font-size: smaller;
  text-align: right;
}

.incident-info-window .link {
  font-size: smaller;
  float: left;
}

.incident-info-window.active .link a {
  color: white;
}
