.incident-info-window {
  max-width: 150px;
  /* overflow: hidden; */
}

.incident-info-window span {
  display: block;
}

.incident-info-window img {
  float: left;
  margin-right: 1em;
  object-fit: contain;
}

.incident-info-window .location {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.incident-info-window .category {
  font-weight: bold;
}

.incident-info-window .address {
  margin: 0.5em 0 0.5em 0;
}

.incident-info-window .time {
  font-size: smaller;
  text-align: right;
}

.incident-info-window .link {
  font-size: smaller;
  float: left;
}

.incident-info-window.active .link a {
  color: white;
}
