.App {
  height: 100%;
  font-family: Verdana, sans-serif;
}

.map-container, .event-panel {
  vertical-align: top;
  display: inline-block;
}

.map-container {
  height: 100%;
  width: calc(100% - 300px);
}

.event-panel {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  width: 300px;
  padding: 0.5em;
  border-left: 1px solid black;
}
