.App {
    height: 100%;
}

.map-container,.event-panel {
  vertical-align: top;
  display: inline-block;
}

.map-container {
  height:100%;
  width:80%;
}

.event-panel {
  box-sizing: border-box;
  height:100%;
  overflow: auto;
  width:20%;
  padding: 0.5em;
  border-left:1px solid black;
}
