.event-panel-item {
  margin: 0.5em;
  padding: 0.5em 0.5em 0.5em 1em;
  cursor: pointer;
  background: rgba(236, 240, 241, 1.0);
  box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.8);
}

.event-panel-item:active {
  box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.9);
  transform: translate(1px, 1px);
  border: none;
}

.event-panel-item.active {
  background-color: rgba(241, 196, 15, 1.0);
}

.event-panel-item span {
  display: block;
}

.event-panel-item img {
  float: right;
}

.event-panel-item .location {
  font-weight: bold;
}

.event-panel-item .category {
  font-size: smaller;
  font-variant: small-caps;
}

.event-panel-item .address {
  margin: 0.5em 0;
}

.event-panel-item .time {
  font-size: smaller;
  text-align: right;
}
