.event-panel {
  position: absolute;
  right: -300px;
  width: 300px;
  background: rgba(236, 240, 241, 1.0);
  transition-duration: 0.195s;
  transition-timing-function: ease-out;
  box-sizing: border-box;
  height: 100%;
  overflow-x: visible;
  box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.8);
}

.event-panel.show {
  transition-duration: 0.225s;
  transition-timing-function: ease-in;
  right: 0;
}

.event-panel-list {
  height: 100%;
  overflow-y: scroll;
}

.toggle-button {}
