.event-panel-item {
  position: relative;
  margin: 0.5em 0.25em;
  padding: 0.5em 0.5em 0.5em 1em;
  cursor: pointer;
  background: white;
  box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.8);
}

.event-panel-item:active {
  box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.9);
  transform: translate(1px, 1px);
  border: none;
}

.event-panel-item.active {
  background-color: rgba(41, 128, 185, 1.0);
  color: white;
}

.event-panel-item span {
  display: block;
}

.event-panel-item img {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.event-panel-item .location {
  font-weight: bold;
  max-width: 220px;
}

.event-panel-item .category {
  font-size: smaller;
  font-variant: small-caps;
}

.event-panel-item .address {
  margin: 0.5em 0;
}

.event-panel-item .time {
  font-size: smaller;
  text-align: right;
}

.event-panel-item .link {
  font-size: smaller;
  float: left;
}

.event-panel-item.active .link a {
  color: white;
}
